body {
	background: #4B4B4B;
}

.header {
	background: #909090;
	width: 1570px;
	height: 130px;
	margin-top: 15px;
	margin-left: 200px;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
}

.middle-container {
	background: #909090;
	width: 1060px;
	height: 600px;
	margin-top: -450px;
	margin-left: 460px;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
}

.btn {
	border: 1px solid #b9b5b5;
	border-radius: 0px;
	-webkit-appearance: button;
	-moz-appearance: button;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

/* Side container elem */
.side-container {
	background: #909090;
	width: 200px;
	height: 450px;
	margin-top: 20px;
	margin-left: 100px;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
}

.green-container {
	position: relative;
	background: #88FF89;
	z-index: 11;
	width: 500px;
	height: 160px;
	margin-top: 80px;
	margin-left: 170px;
	box-shadow: 10px 10px 10px black;
	border-radius: 10px;
}

.chair {
	position: relative;
	background: transparent;
	z-index: 11;
	width: 130px;
	height: 250px;
	margin-top: -250px;
	margin-left: 340px;
}

.screen {
	position: relative;
	background: transparent;
	z-index: 11;
	width: 200px;
	height: 150px;
	margin-top: -250px;
	margin-left: 820px;
}

.ordi
{
	text-shadow: 4px 4px 5px red;
}

.left {
	margin-left: 240px;
}

.right {
	margin-left: 1540px;
	margin-top: -600px;
}

.crop-y {
	background: #909090;
	position: absolute;
	margin-left: 184px;
	top: 350px;
	width: 15px;
	height: 100px;
}

.crop-x {
	background: #909090;
	position: absolute;
	margin-left: 15px;
	top: 449px;
	width: 180px;
	height: 40px;
}

/* IMAGES */
.logo {
	position: absolute;
	width: 400px;
	margin-top: 8px;
	float: left;
	margin-left: 20px;
}

.close {
	position: relative;
	width: 23px;
	top: 95px;
	left: 1530px;
}

.reload {
	position: absolute;
	width: 20px;
	margin-top: 10px;
	margin-left: 1510px;
}

.magnifier {
	position: absolute;
	width: 245px;
	top: 25px;
	margin-left: 1260px;
}

.cluster {
	position: relative;
	width: 1040px;
	left: 10px;
	top: 10px;
	z-index: 10;
}

/* left pannel */
.side-img {
	position: absolute;
	width: 70px;
	margin-left: 70px;
}

.p1 {
	top: 180px;
}

.p2 {
	top: 260px;
}

.towel {
	top: 290px;
}

.brick {
	top: 350px;
	width: 45px;
}

.p3 {
	top: 335px;
	margin-left: 65px;
	border: 5px solid red;
}

.p4 {
	top: 420px;
}

.p5 {
	top: 500px;
}
